<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="../css/login.css"/>
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="offset-4 col-4">
                    <form action="/autenticar" method="POST">
                        <a href="/">Voltar</a>
                        <h3>Login</h3>
                        <label for="email">E-mail:</label>
                        <input type="text" placeholder=" Email" id="email" name="email">
                
                        <label for="senha">Senha:</label>
                        <input type="password" placeholder=" Senha" id="senha" name="senha">
                
                        <button>Log In</button>
                        <span style="margin-top: 20px; text-align: center;">Não possui uma conta?
                            <a href="/cadastrar_usuario">Se registrar agora</a>
                        </span>
                    </form>
                </div>
            </div>
        </div> 
	</body>
</html>
